---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$background-color: #F8A434;
$highlight-color: #E86C8D;
$body-text-color: #FDFCFB;
$body-text-size: 20px;
$link-color: darken($highlight-color,40%);
$link-hover-color: lighten($link-color,10%);
$border-color: darken($background-color,30%);
$footer-text-size: .9em;
$breakpoint: 600px;

body {
  background: $background-color;
  color: $body-text-color;
  font-family: 'Lato', sans-serif;
  font-size: $body-text-size;
  line-height: 1.35em;
  text-align: center;
  margin: 0;
  padding: 0;
}

a {
  color: $link-color;

  &:hover {
    color: $link-hover-color;
  }
}

header .site-title {
  color: $body-text-color;
  font-size: 5em;
  font-weight: bold;
  line-height: 1em;
  text-decoration: none;
}

section, form, footer {
  margin: auto;
  text-align: left;
}

.content-block {
	display: block;
	margin-left: .5rem;
	margin-right: .5rem;

	@media (min-width: $breakpoint) {
		margin-left: auto;
		margin-right: auto;
		width: $breakpoint;
	}
}


.description {
	letter-spacing: 1px;
	line-height: 1.3em;
}

 form {
  .input {
	display: flex;
    align-items: center;
    flex-direction: column;

    @media (min-width: $breakpoint) {
		flex-direction: row;
	}
  }

  .button {
    height: 44px;
    border: none;
  }

  #email {
	display: block;
    background: #FDFCFB;
    font-family: inherit;
    font-size: 18px;
    color: #737373;
    letter-spacing: 1px;
    text-indent: 5%;
	width: 100%;

	@media (min-width: $breakpoint) {
    	border-radius: 5px 0 0 5px;
    	width: 75%;
	}
  }

  #submit {
    background: $highlight-color;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: 18px;
    font-weight: bold;
    height: 46px;
    letter-spacing: 1px;
	margin-top: .5rem;
    transition: background .3s ease-in-out;
	width: 100%;

	@media (min-width: $breakpoint) {
    	border-radius: 0 5px 5px 0;
		margin-top: 0;
    	width: 24%;
	}
  }

  #submit:hover {
    background: #d45d7d;
  }

  input:focus {
    outline: none;
    outline: 2px solid #E86C8D;
    box-shadow: 0 0 2px #E86C8D;
  }
}

/**
 * Footer Section
 */
 footer {
  border-top:1px solid $border-color;
  margin:2em auto;

  p {
    font-size: .9em;
    line-height: 1.35em;
  }

  li {
    font-size: .85em;
  }

  .footer-nav {
    border-top:1px solid $border-color;
    margin-top:1em;
    padding:1em 0;
    a {
      font-size: .7em;
    }
  }
}

.flash-message {
  border-radius: 5px;
  background-color:$highlight-color;
  bottom: 1rem;
  opacity: 0;
  padding: .5rem;
  pointer-events: none;
  position: fixed;
  width: 90%;

  @media (min-width: $breakpoint) {
	  width: $breakpoint;
  }

  &.shown {
  	transition: opacity 1s ease-in-out;
	opacity: 1;
  }
}
