---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$background-color: #fff;
$highlight-color: #c20000;
$selection-color: #FFE600;
$body-text-color: #000;
$input-text-color: #737373;

$link-color: lighten($highlight-color,40%);
$link-hover-color: darken($link-color,10%);
$border-color: lighten($background-color,30%);
$button-color: lighten($highlight-color, 10%);

$body-text-size: 20px;
$footer-text-size: .9rem;

$input-height: 2.5rem;

$breakpoint: 600px;

* {
	box-sizing: border-box;

	&::selection {
  	background: $selection-color;
	}
}

body {
	background-color: $background-color;
	color: $body-text-color;
	font-family: 'Lato', sans-serif;
	font-size: $body-text-size;
	line-height: 1.35em;
	text-align: center;
	margin: 0;
	padding: 0;
}

a {
	color: $link-color;

	&:hover {
		color: $link-hover-color;
	}
}

.site-title {
	color: $body-text-color;
	font-size: 5em;
	font-weight: bold;
	line-height: 1em;
	text-decoration: none;
}

section, form, footer {
	margin: auto;
	text-align: left;
}

.content-block {
	display: block;
	margin-left: .5rem;
	margin-right: .5rem;

	@media (min-width: $breakpoint) {
		margin-left: auto;
		margin-right: auto;
		width: $breakpoint;
	}
}


.description {
	letter-spacing: 1px;
	line-height: 1.3em;
}


.input {
	display: flex;
	align-items: center;
	flex-direction: column;

	@media (min-width: $breakpoint) {
		flex-direction: row;
	}
}

input {
	background: $highlight-color;
	border: 2px solid $highlight-color;
	height: 44px;
}

#email {
	background-color: transparent;
	display: block;
	font-family: inherit;
	font-size: 18px;
	color: $input-text-color;
	height: $input-height;
	letter-spacing: 1px;
	text-indent: 5%;
	width: 100%;
	outline: none;

	@media (min-width: $breakpoint) {
		border-radius: 5px 0 0 5px;
		width: 75%;
	}
}

#submit {
	color: $background-color;
	cursor: pointer;
	font-family: inherit;
	font-size: 18px;
	font-weight: bold;
	height: $input-height;
	letter-spacing: 1px;
	margin-top: .5rem;
	transition: background .3s ease-in-out;
	width: 100%;

	@media (min-width: $breakpoint) {
		border-radius: 0 5px 5px 0;
		margin-top: 0;
		width: 24%;
	}
}

/**
* Footer Section
*/
footer {
	border-top: 1px solid $border-color;
	margin: 2em auto;

	p {
		font-size: .9em;
		line-height: 1.35em;
	}

	li {
		font-size: .85em;
	}

	.footer-nav {
		border-top: 1px solid $border-color;
		margin-top: 1em;
		padding: 1em 0;

		a {
			font-size: .7em;
		}
	}
}

.flash-message {
	border-radius: 5px;
	background-color: $highlight-color;
	bottom: 1rem;
	color: $background-color;
	opacity: 0;
	padding: .5rem;
	pointer-events: none;
	position: fixed;
	text-align: center;
	width: 90%;

	@media (min-width: $breakpoint) {
		width: $breakpoint;
	}

	&.shown {
		transition: opacity 1s ease-in-out;
		opacity: 1;
	}
}
